<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.4.1"
id = "com.mozilla.remo-helper"
version = "0.0.1">

<name>ReMo Companion</name>

<description>
A mobile app for Mozilla Reps
</description>

<author href="alex.greensqr.com"
email="alex@greensqr.com">
Alex Lakatos
</author>

<preference name="prerendered-icon" value="true" />

<gap:platforms>
<gap:platform name="android" minVersion="2.1" />
<gap:platform name="ios" />
</gap:platforms>

<icon src="icon.png" />
<icon src="data/icons/iphone/57x57.png" gap:platform="ios" width="57" height="57" />
<icon src="data/icons/iphone/72x72.png" gap:platform="ios" width="72" height="72" />
<icon src="data/icons/iphone/114x114.png" gap:platform="ios" width="114" height="114" />
<icon src="data/icons/android/ic_launcher_ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="data/icons/android/ic_launcher_mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="data/icons/android/ic_launcher_hdpi.png" gap:platform="android" gap:density="hdpi" />

<gap:splash src="splash.png" />

<feature name="http://api.phonegap.com/1.0/network"/>
</widget>
