@import url(FontAwesome/css/font-awesome.css);
@import url(foundation/stylesheets/foundation.css);
@import url(foundation/stylesheets/app.css);

.addonbarhelper  {
  position: fixed;
  right: 1em;
  top: 1em;
  width: 28em;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transition:box-shadow .1s ease-in;
}

.addonbarhelper > p {
  background: #efefef;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  padding: 0.5em 1em;
  font-size: small;
  margin: 0 !important;
}

.addonbarhelper > p:hover {
  -moz-transition:box-shadow .1s ease-out;
  -moz-box-shadow: 0 2px 5px gray;
}

.up-triangle {
  width: 0;
  height: 0;
  border-bottom: 20px solid rgba(0,0,0,0.25);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: 25em;
}

#footer-logo {
  margin-top: 20px;
  width: 100px;
  margin: 0 auto;
}
